* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
}

.nav-bar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #4b5f67;
}
  
.nav-bar li {
    float: left;
}
  
.nav-bar li a {
    display: block;
    color: #989986;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav-bar li a:hover, #active {
    background-color: #1e3741;
}

.nav-bar, .nav-bar ul, .side-bar ul, .side-bar, #video {
    display: inline-block;
}

#active, #active-side, .side-bar li a:hover {
    color: white;
}

.nav-bar li a:hover {
    text-decoration: underline;
}

#main-page {
    display: inline-block;
    background-color: #1e3741;
    width: 750px;
    border: 1px solid #1e3741;
    border-radius: 5px;
}

.nav-bar {
    margin-top: 10px;
}

.side-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #1e3741;
}
  
.side-bar li a {
    display: block;
    color: #9ea594;
    padding: 8px 16px;
    text-decoration: none;
}

#active-side, .side-bar li a:hover {
    background-color: #00968c;
}

#video {
    width: 300px;
    vertical-align: top;
    margin-left: -5px;
}

.side-bar, #video {
    margin-top: 10px
}

iframe {
    width: 400px;
    height: 225px;
    border: 1px solid black;
}

.side-bar li {
    border-bottom: 1px solid #3a4f58;
}